*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
}
.container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    background-color: black;
    width: 500px;
    margin: auto;
    flex-wrap: wrap;
}

.same{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid rgb(92, 91, 91);
    /* transition: all 0.5s ease; */
    cursor: pointer;
}

.one:hover{
    background-color: red;
    transition-duration: 0s;
}
.two:hover{
    background-color: rgb(21, 255, 0);
    transition-duration: 0s;
}
.three:hover{
    background-color: rgb(255, 208, 0);
    transition-duration: 0s;
}
.four:hover{
    background-color: rgb(94, 255, 0);
    transition-duration: 0s;
}
.five:hover{
    background-color: rgb(0, 255, 200);
    transition-duration: 0s;
}
.six:hover{
    background-color: rgb(0, 102, 255);
    transition-duration: 0s;
}
.seven:hover{
    background-color: rgb(140, 0, 255);
    transition-duration: 0s;
}
.eight:hover{
    background-color: rgb(255, 0, 140);
    transition-duration: 0s;
}
.nine:hover{
    background-color: rgb(255, 0, 0);
    transition-duration: 0s;
}
.ten:hover{
    background-color: rgb(0, 255, 200);
    transition-duration: 0s;
}
